$primary: #08c;
$light: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: $primary;
  color: $light;
  padding: 15px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 300;
  padding: 0.5rem 0 0 0;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

header {
  h1,
  p {
    margin-bottom: 15px;
  }
}

.main-controls {
  padding: 0.5rem 0;
}

a {
  border-bottom: 1px solid white;
  color: $light;
  text-decoration: none;
}

canvas {
  border-radius: 30px;
  display: block;
  height: 60px;
  margin-bottom: 0.5rem;
  width: 100%;
}

/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.soundClips {
  flex: 1;
  overflow: auto;

  &Heading {
    margin-bottom: 15px;
  }
}

.recordingHeading {
  align-items: center;
  display: flex;

  img {
    margin-right: 15px;
    width: 30px;
  }
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip {
  padding-bottom: 30px;

  p {
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
  }

  button {
    font-size: 1rem;
    float: right;
  }
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  img {
    width: 100px;
  }
}

.floatingActions {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

/* Checkbox hack to control information box display */

label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

input[type=checkbox] {
  position: absolute;
  top: -100px;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
